/packages
/WeChatHelloWorld1/bin/
/WeChatHelloWorld1/obj/

.vs/*
/WeChatOrderingSystem/bin/*
/WeChatOrderingSystem/obj
/WeChatOrderingSystem/.vs
/WeChatOrderingSystem/packages
/WeChatOrderingSystem/App_Data/SenparcTraceLog/
obj
